---
layout: default
---

<div class="p-2">

    {{ content }}

    <div class="p-2">
        <h2>
            {{ page.title }} ({{ page.abbreviated_title }})
        </h2>
        {%- comment -%}
        Robustly handle author_ids as a string or array, and always get an array of strings
        {%- endcomment -%}
        {% if page.author_ids contains ";" %}
            {% assign author_ids = page.author_ids | split: ";" | map: "strip" %}
        {% else %}
            {% assign author_ids = page.author_ids | append: "" | split: "|" %}
        {% endif %}
        {% assign authors = site.data[site.authors_csv] %}
        <ul>
        {% for author in authors %}
            {% assign author_id_str = author.id | append: "" | strip %}
            {% if author_ids contains author_id_str %}
                <li>
                    <a href="{{ 'author/' | append: author.id | relative_url }}">{{ author.short_name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <p>
            {{ page.description }}
        </p>
    </div>
</div>